body {
    background-image: url("https://thumbor.mumu.agency/unsafe/1000x562/https://www.theransomnote.com/media/articles/rare-african-music-tops-trendbases-restaurant-background-music-charts/4ca464fe-54ae-457f-8680-702aaa8a13ab.jpg");
    background-attachment: fixed;

}

header, .instructions{
    font-size: 70px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: white;
}

.instructions {
    font-size: 25px;
}

.headContainer {
    background-color:rgb(15, 23, 50);
    opacity: 0.7;
    padding: 20px;
    margin-bottom: 20px;
}


input {
    display:block;
    width: 750px;
    height: 70px;
   margin-left: auto;
   margin-right: auto;
}

#submit {
    background-color: rgb(15, 23, 50);
    font-family: 'Sansita Swashed', cursive;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-bottom: 30px;
}

#submit:hover {
    background-color: #4CAF50;
  }

.container{
    background-color: rgb(15, 23, 50);
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
    padding: 10px;
    opacity: 0.9;
}


.slide {
    width: 700px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
}

hr {
    background-color: white;
}

button {
    width: 200px;
  
}